CPTCFG_CFG80211=m
CPTCFG_MAC80211=m
CPTCFG_ATH_CARDS=m
CPTCFG_ATH9K=m
CPTCFG_ATH9K_CHANNEL_CONTEXT=y
CPTCFG_ATH9K_HTC=m
# CPTCFG_RTL_CARDS is not set
# CPTCFG_ETHERNET is not set
# CPTCFG_USB_NET_DRIVERS is not set
